@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f85605;
  --color-menubg: #f85605;
  --color-hovercolor: #ff0000;
  --color-buttonbg: #ff0000;
  --color-buttonhoverbg: #ff0000;
  --color-btndangerbg: #ff0018;
  --color-btndangerhoverbg: #bb2d3b;
  --color-headingprimary: #17181c;
  --color-headingcolor: #212529;
  --color-border: #eee;
  --color-bordersecondary: #ced4da;
}